<%= render :partial=> 'layouts/market/header' %>
	 <% if yield(:map) %>
       <%= yield(:map) %>
    <% end %>
	<div class="twb-content">
		<div class="twb-page">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>">
				  <%= value %>
				</div>
			<% end %>
			<%= yield %>
		</div>
	</div>
<%= render :partial=> 'layouts/market/footer' %>