<div class="container">
	<div class="well clearfix">
		<div class="col-md-6">
			<h3>Your company</h3>
			<%= f.input :bob, label: 'Does this company have one or more black founder?' %>
		  <%= f.input :logo %>
			<%= f.input :name %>
			<span class="pull-right"><small>Remaining: <span id="pitchcounter"></span></small></span>
			<%= f.input :pitch, :input_html => {:rows => 2, id: 'pitch'}, maxlength: 350 %>
			<%= f.input :compsize, 
		  collection: company_size_options,
		  include_blank: '- Select -',
		  input_html: { class: 'chosen-select form-control' }  
		  %>
		  <hr/>
		  <%= f.input :location_list, :class=>"form-control", :input_html => {:id=>'locations', :value=>@company.location_list.to_s},  label:  'Location' %>
		  <%= f.input :market_list, :class=>"form-control", :input_html => {:id=>'markets', :value=> @company.market_list.to_s},  label:  'Market' %>
		  <%= f.input :category, 
		  collection: company_category_options,
		  include_blank: '- Select -',
		  input_html: { class: 'chosen-select form-control' }  
		  %>
		</div>
		<div class="col-md-6">
			<h3>Company Links</h3>
				<%= f.input :website %>
				<%= f.input :blog %>
				<%= f.input :facebook %>
				<%= f.input :linkedin %>
				<%= f.input :twitter %>
				<%= f.input :instagram %>
				<%= f.input :producthunt %>
				<%= f.input :crunchbase %>
		</div>
	</div>	
	<div class="well">
	  <h3>Screenshots and video</h3>
		<%= f.input :logo %>
		<%= f.input :video %>
		<%= f.input :image %>
	  <h3>Product</h3>
	  <span class="pull-right"><small>Remaining: <span id="procounter"></span></small></span>
	  <%= f.input :product, :input_html => {:rows => 4, id: 'product'}, maxlength: 1000 %>
	  <%= f.input :goal, 
			collection: company_goal_options,
			include_blank: '- Select -',
			input_html: { class: 'chosen-select form-control' }  
			%>
	</div>		
	
	
	<hr/>
	<h3>Launches</h3>
  <div id="products">
		<%= f.simple_fields_for(:products) do |product| %>
			<%= render 'product_fields', f: product %>
		<% end %>
		
		<div class="links">
			<%= link_to_add_association 'add product', f, :products %>
		</div>
</div>	

<h3>Your team</h3>
<p>Add your founding/leadership team. Don't forget to add yourself!</p>
<div class="well" id="contacts">
		<%= f.simple_fields_for(:contacts) do |contact| %>
			<div class="row">
				<div class="col-md-8">
					<%= contact.input :name %>
				</div>
				<div class="col-md-4">
					<%= contact.input :role, 
				  collection: company_role_options,
				  include_blank: '- Select -',
				  input_html: { class: 'chosen-select form-control' }  
				  %>
				</div>
			</div>
		<% end %>
	
	<div class="links">
		<%= link_to_add_association 'add team member', f, :contacts %>
	</div>
</div>

<h3>Locations</h3>
<div class="well"  id="addresses">
  <%= f.simple_fields_for(:addresses) do |address| %>
		<%= address.input :phone %>
	  <%= address.input :address1 %>
		<%= address.input :address2 %>
		<%= address.input :city %>
		<%= address.input :state, 
	  collection: location_options,
	  include_blank: '- Select -',
	  input_html: { class: 'chosen-select form-control' }  
	  %>
		<%= address.input :zip %>
	<% end %>
	<div class="links">
		<%= link_to_add_association 'add location', f, :addresses %>
	</div>
</div>

	
</div>
