
	<div class="container">
		<p class="lead">What do you want to do?</p>
		<ul class="list-group">
			<li class="list-group-item clearfix">
				<div class="col-md-3">
					<p class="lead"><%= link_to 'Recruit team members', '#' %></p>
				</div>
				<div class="col-md-7">
				</div>
				<div class="col-md-2">
					<%= link_to 'Setup', '#', class: 'btn btn-default btn-block' %>
				</div>
			</li>
			<li class="list-group-item clearfix">
				<div class="col-md-3">
					<p class="lead"><%= link_to 'Find Freelancers', '#' %></p>
				</div>
				<div class="col-md-7">
				</div>
				<div class="col-md-2">
					<%= link_to 'Setup', '#', class: 'btn btn-default btn-block' %>
				</div>
			</li>
			<li class="list-group-item clearfix">
				<div class="col-md-3">
					<p class="lead"><%= link_to 'Apply to an Incubator', '#' %></p>
				</div>
				<div class="col-md-7">
				</div>
				<div class="col-md-2">
					<%= link_to 'Setup', '#', class: 'btn btn-default btn-block' %>
				</div>
			</li>
		</ul>
	</div>
	<%= simple_form_for @company do |f| %>
	  <div class="container">
	  	<hr/>
				<div class="row">
					<div class="col-md-10">
						<h1>Edit <%= @company %></h1>
					</div>
					<div class="col-md-2">
						<%= f.submit class: 'btn btn-primary btn-lg btn-block' %>
					</div>
				</div>
				<hr/>
			</div>
		<% if f.object.errors.any? %>
		  <div id="error_explanation">
		  <%= pluralize(f.object.errors.count, "error") %> prohibited this article from being saved:
		 
		    <ul>
		    <%= f.object.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		  	<% end %>
		<%= render :partial=> 'form', :locals=>{f: f} %>
		<div class="container">
			<div class="row">
				<hr/>
				<div class="col-md-10">
				</div>
				<div class="col-md-2">
					<%= f.submit class: 'btn btn-primary btn-lg btn-block' %>
				</div>
			</div>
			<hr/>
		</div>
	<% end %>