<h1>Companies#show</h1>
<p>Find me in app/views/market/companies/show.html.erb</p>

<h1><%= @company.name %></h2>
<small><%= link_to 'Edit', edit_company_path(@company) %></small>
<p>
	<%= @company.pitch %>
</p>
<p>
	<%= @company.product %>
</p>
<p>
	<%= @company.goal %>
</p>
<p>
	<%= @company.category %>
</p>
<p>
	<%= @company.compsize %>
</p>
<p>
	<% @company.market.each do |market| %>
		<%= market %><br/>
	<% end %>
</p>
<p>
	<% @company.location.each do |location| %>
		<%= location %><br/>
	<% end %>
</p>
<h3>Headquarters</h3>
<p>
	<% @company.addresses.each do |address| %>
		<p><%= address.address1 %></p>
		<p><%= address.address2 %></p>
		<p><%= address.city %>, <%= address.state %> <%= address.zip %></p>
		<p><%= address.phone %></p>
	<% end %>
</p>

<h3>Team</h3>
<p>
	<% @company.contacts.each do |contact| %>
		<p>
			<strong><%= contact.name %></strong>, <%= contact.role %>
		</p>
	<% end %>
</p>

<h3>Media</h3>
<div class="well clearfix">
	<div class="col-md-4">
		<p>
			<strong>Logo</strong><br/>
			<%= image_tag @company.default_logo, :class=> 'img-responsive' %>
		</p>
	</div>
	<div class="col-md-4">
		<p>
			<strong>Company Image</strong><br/>
			<%= image_tag @company.default_image, :class=> 'img-responsive' %>
		</p>
	</div>
	<div class="col-md-4">
		<strong>Video</strong><br/>
		<p class="embed-container">
			<%= embed(@company.default_video) %>
		</p>
	</div>
</div>

<h3>Links</h3>
<p>
	<%= link_to 'Facebook', @company.facebook %>
</p>
<p>
	<%= link_to 'Linkedin', @company.linkedin %>
</p>
<p>
	<%= link_to 'Blog', @company.blog %>
</p>
<p>
	<%= link_to 'Crunchbase', @company.crunchbase %>
</p>

<h3>Products</h3>
<p>
	<% @company.products.each do |product| %>
		<h4><%= product.title %></h4>
    <p><%= product.summary %></p>
    <p><%= product.release %></p>
    <p><%= product.launched %></p>
    <p><%= link_to 'Product Website', product.website %></p>
    <p><%= product.description %></p>
    <div class="well clearfix">
			<div class="col-md-4">
				<p>
					<strong>Logo</strong><br/>
					<%= image_tag product.default_logo, :class=> 'img-responsive' %>
				</p>
			</div>
			<div class="col-md-4">
				<p>
					<strong>Company Image</strong><br/>
					<%= image_tag product.default_image, :class=> 'img-responsive' %>
				</p>
			</div>
			<div class="col-md-4">
				<strong>Video</strong><br/>
				<p class="embed-container">
					<%= embed(product.default_video) %>
				</p>
			</div>
		</div>
	<% end %>
</p>
